#sprite {
  background: url(sprite.svg) 0px 0px;
  background-size: 1800px 5400px;
  height: 700px;
  width: 500px;
  animation: play 1s steps(5) infinite reverse;
}

@keyframes play {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 6000px;
  }
}
