html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: dimgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #484848;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 2.5em;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 1em;
}

h3 {
  font-family: "Major Mono Display", monospace;
  font-size: 0.8em;
}

p {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3vw;
}

#start {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*NAV*/

#navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0px 21px 35px -8px rgba(0, 0, 0, 0.336);
  z-index: 1;
  height: 40px;
}

#navbar h2 {
  margin: auto auto auto 5vh;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #about {
  padding-top: 12vh;
}

/* SPRITE */

#sprite {
  background: url(assets/sprite.svg) 0px 0px;
  background-size: 2700px 9000px;
  height: 700px;
  width: 850px;
  animation: play 1s steps(1) infinite;
  margin-left: -90px;
}

@keyframes play {
  0% {
    background-position: 900px;
  }

  50%{
      background-position: 1800px;
  }
  
}

/* START */

#start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start .text {
  margin: 100px;
}

.line {
  box-sizing: border-box;
  border: #B95B5B solid;
  width: 100px;
  margin: 50px auto;
}

i {
  font-size: 50px;
  margin: 60px auto 0px;
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}

#start a {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 2s infinite;
}

/* CV */

#cv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cv .top,
#cv .bottom {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
  justify-content: space-between;
  margin-top: 50px;
}

#cv .top .text {
  justify-content: space-evenly;
  width: 40%;
}

#cv img {
  width: 40%;
}

ul:first-child {
  padding: 0;
  margin-right;: 40px;
}

li {
  list-style: none;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

/* PORTFOLIO */
#portfolio .top,
#portfolio .bottom {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}

#p1,
#p2,
#p3,
#p4 {
  margin: 50px;
  width: 40%;
}

#portfolio img {
  width: 100%;
  margin: auto 10px;
}
.pimage {
  height: 200px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
#portfolio h2 {
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: row;
}

/* KONTAKT */

#kontakt{
    display: flex;
    flex-direction: column;
margin-bottom: 200px;
}

#kontakt .top, #kontakt .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 30px auto;
}

#kontakt img{
    margin: 0 50px;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 1400px){
    #start .text{
        margin: 0px 100px;
        width: 30%;
    }

    #sprite{
        width: 900px;
        height: 800px;
    }

    #cv .top, #cv .bottom, #portfolio .top, #portfolio .bottom{
width: 70%;
    }

    #kontakt .top, #kontakt .bottom{
        width: 40%;
    }

}

@media only screen and (max-width: 1100px){
    #start{
        flex-direction: column-reverse;
    }

    #start .text{
        margin: 100px auto;
        width: 100%;
    }

    #sprite{
        display: none;
    }


}

@media only screen and (max-width: 1000px){
    #cv .top, #cv .bottom, #portfolio .top, #portfolio .bottom{
        width: 90%;
            }
        
            #kontakt .top, #kontakt .bottom{
                width: 50%;
            }
}
@media only screen and (max-width: 750px){
    #cv .top, #cv .bottom, #portfolio .top, #portfolio .bottom, #cv img{
        flex-direction: column;
        margin: 20px auto;
        width: 60%;
        justify-content: center;
            }
        
            #kontakt .top, #kontakt .bottom{
                width: 90%;
            }

            #cv .top .text {
                justify-content: space-evenly;
                width: 100%;
              }

              #p1, #p2, #p3, #p4{
                  width: 100%;
                  margin: 0 auto;
              }

              .pimage{
                  width: 100%;
              }

        
}
